<.connect_screen step={@step} flash={@flash}>
  <.live_component
    module={ConnectForm}
    id={ConnectForm.id()}
    trusted_device_id={@trusted_device_id}
    takeover_session={@takeover_session}
    auto_login={@auto_login}
    notify_step={true}
    csrf_token={Plug.CSRFProtection.get_csrf_token()}
    chat_session_path={~p"/chat/session"}
  />
</.connect_screen>
