apps/retro_hex_chat_web/priv/static/arcade/**/*.wasm filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/**/*.data filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/**/*.zip filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/**/*.pk3 filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/**/*.dat filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/**/*.tbl filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/**/*.cpt filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/**/*.DSK filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/**/*.DNR filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/scummvm/games/dreamweb/**/*.raw filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/scummvm/games/dreamweb/**/*.flac filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/scummvm/games/dreamweb/**/*.wav filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/scummvm/games/dreamweb/**/*.vol filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/scummvm/games/dreamweb/**/*.exe filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/scummvm/games/dreamweb/**/*.pal filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/scummvm/games/dreamweb/*.r[0-9][0-9] filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/scummvm/games/dreamweb/*.g[0-9][0-9] filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/scummvm/games/dreamweb/*.c[0-9][0-9] filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/scummvm/games/dreamweb/*.i[0-9][0-9] filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/scummvm/games/dreamweb/*.s[0-9][0-9] filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/scummvm/games/dreamweb/*.t[0-9][0-9] filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/scummvm/games/dreamweb/*.v[0-9][0-9] filter=lfs diff=lfs merge=lfs -text
apps/retro_hex_chat_web/priv/static/arcade/scummvm/games/dreamweb/*.p[0-9][0-9] filter=lfs diff=lfs merge=lfs -text
