<p>
  {dgettext(
    "help_features",
    "When you disconnect, a quit message is shown to other users. You can customize this message."
  )}
</p>
<.help_h4 icon={:icon_close}>{dgettext("help_features", "Setting a Quit Message")}</.help_h4>
<p>
  {dgettext("help_features", "Use")}
  <code>{dgettext("help_features", "/quit Your message here")}</code>
  {dgettext(
    "help_features",
    "to disconnect with a custom message. There is no default to configure: a quit with no message uses the one below."
  )}
</p>
<.help_h4 icon={:icon_tab_general}>{dgettext("help_features", "Default")}</.help_h4>
<p>
  {dgettext("help_features", "If no custom message is set, the default message is \"Leaving\".")}
</p>
<.help_h4 icon={:icon_terminal}>{dgettext("help_features", "Examples")}</.help_h4>
<pre>/quit
/quit Goodbye!
/quit Back after lunch</pre>
<p>
  {dgettext(
    "help_features",
    "The first example quits with the default message. The others show your own text to the people in your channels."
  )}
</p>
<.help_h4 icon={:icon_btn_disconnect}>
  {dgettext("help_features", "Other Ways to Leave")}
</.help_h4>
<ul>
  <li>
    {dgettext(
      "help_features",
      "File menu, Disconnect: a dialog asks you to confirm. This always uses the default message."
    )}
  </li>
  <li>
    {dgettext(
      "help_features",
      "If you close the browser tab instead, the default message is used."
    )}
  </li>
</ul>
<.help_h4 icon={:icon_tab_control}>
  {dgettext("help_features", "What Happens When You Quit")}
</.help_h4>
<ol>
  <li>{dgettext("help_features", "You leave every channel you are in.")}</li>
  <li>
    {dgettext(
      "help_features",
      "Each of those channels shows your departure with your quit message."
    )}
  </li>
  <li>{dgettext("help_features", "Your browser returns to the connect screen.")}</li>
</ol>
<.help_h4 icon={:icon_document_alert}>{dgettext("help_features", "Rules and Limits")}</.help_h4>
<ul>
  <li>
    {dgettext(
      "help_features",
      "Only the first %{count} characters of the message are shown to others.",
      count: "200"
    )}
  </li>
  <li>
    {dgettext(
      "help_features",
      "The message is used once. The next time you quit, you type it again or get the default."
    )}
  </li>
</ul>
<.help_h4 icon={:icon_link}>{dgettext("help_features", "See Also")}</.help_h4>
<p><.help_link topic="cmd-quit">{dgettext("help_features", "/quit Command")}</.help_link></p>
