<p>Limits the maximum number of users that can be in the channel.</p>
<.help_h4 icon={:icon_terminal}>Usage</.help_h4>
<pre>/mode +l 25    — Set limit to 25 users
/mode -l       — Remove user limit</pre>
