<p>
  {dgettext("help_channels", "Limits the maximum number of users that can be in the channel.")}
</p>
<.help_h4 icon={:icon_terminal}>{dgettext("help_channels", "Usage")}</.help_h4>
<pre>{dgettext("help_channels", "/mode +l 25 — Set limit to 25 users /mode -l — Remove user limit")}</pre>
