/* Retro Primitives: [role=tabpanel], menu[role=tablist], selected state, .multirows */

.window[role=tabpanel] {
  position: relative;
  z-index: 2;
}

menu[role=tablist] {
  position: relative;
  margin: 0 0 -2px 0;
  text-indent: 0;
  list-style-type: none;
  display: flex;
  padding-left: 3px;
}

menu[role=tablist] > li {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: var(--border-tab);
  z-index: 1;
}

menu[role=tablist] > li[aria-selected=true] {
  padding-bottom: 2px;
  margin-top: -2px;
  background-color: var(--color-surface);
  position: relative;
  z-index: 8;
  margin-left: -3px;
}

menu[role=tablist] > li > a {
  display: block;
  color: var(--color-text);
  margin: 6px;
  text-decoration: none;
}

menu[role=tablist] > li[aria-selected=true] > a:focus {
  outline: none;
}

menu[role=tablist] > li > a:focus {
  outline: 1px dotted var(--color-text);
}

menu[role=tablist].multirows > li {
  flex-grow: 1;
  text-align: center;
}
