<!DOCTYPE html>
<html lang={RetroHexChatWeb.I18n.html_lang()} dir={RetroHexChatWeb.I18n.html_dir()}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta
      name="plausible-env"
      content={Application.get_env(:retro_hex_chat_web, :plausible_env, "prod")}
    />
    <.live_title default="RetroHexChat — Component Showcase">
      {assigns[:page_title]}
    </.live_title>
    <link rel="icon" type="image/svg+xml" href={~p"/images/favicon.svg"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/retrohex.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/retrohex_content.js"}>
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
